---
layout: single
classes: wide
author_profile: false
read_time: false
sidebar:
  nav: "theories"
intro:
  - excerpt: 'Download validated assets and methods to improve your designs.'
feature_row:
  - image_path: assets/images/monkeyseemonkeydo_01.jpg
    alt: "placeholder image 1"
    title: "Social Comparison"
    excerpt: "This is some sample content that goes here with **Markdown** formatting. #Socialcomparison #goalsetting"
    url: "/socialcomparison/monkeyseemonkeydo"
    btn_label: "Read More"
    btn_class: "btn btn--success btn--primary"
  - image_path: /assets/images/monkeyseemonkeydo_01.jpg
    title: "Monkey Do"
    excerpt: "By means of social comparison processes."
    url: "/socialcomparison/monkeyseemonkeydo"
    btn_label: "Read More"
    btn_class: "btn btn--success btn--primary"
  - image_path: /assets/images/monkeyseemonkeydo_01.jpg
    title: "Monkey Do"
    excerpt: "By means of social comparison processes."
    url: "/socialcomparison/monkeyseemonkeydo"
    btn_label: "Read More"
    btn_class: "btn btn--success btn--primary"
feature_row2:
  - image_path: assets/images/monkeyseemonkeydo_01.jpg
    alt: "placeholder image 1"
    title: "Feature Row"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/socialcomparison/monkeyseemonkeydo"
    btn_label: "Read More"
    btn_class: "btn btn--success btn--primary"
  - image_path: /assets/images/monkeyseemonkeydo_01.jpg
    title: "Monkey See"
    excerpt: "By means of social comparison processes."
    url: "/socialcomparison/monkeyseemonkeydo"
    btn_label: "Read More"
    btn_class: "btn btn--success btn--primary"
  - image_path: /assets/images/monkeyseemonkeydo_01.jpg
    title: "Monkey Do"
    excerpt: "By means of social comparison processes."
    url: "/socialcomparison/monkeyseemonkeydo"
    btn_label: "Read More"
    btn_class: "btn btn--success btn--primary"
feature_row3:
  - image_path: assets/images/monkeyseemonkeydo_01.jpg
    alt: "placeholder image 1"
    title: "Feature Row"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/socialcomparison/monkeyseemonkeydo"
    btn_label: "Read More"
    btn_class: "btn btn--success btn--primary"
  - image_path: /assets/images/monkeyseemonkeydo_01.jpg
    title: "Monkey See"
    excerpt: "By means of social comparison processes."
    url: "/socialcomparison/monkeyseemonkeydo"
    btn_label: "Read More"
    btn_class: "btn btn--success btn--primary"
  - image_path: /assets/images/monkeyseemonkeydo_01.jpg
    title: "Monkey Do"
    excerpt: "By means of social comparison processes."
    url: "/socialcomparison/monkeyseemonkeydo"
    btn_label: "Read More"
    btn_class: "btn btn--success btn--primary"
---

<div id="containerIntro">
<h1>Generate Interest</h1>
<p> Catch someone's attention</p>
</div><br>
{% include feature_row %}

<div id="containerIntro">
<h1>Encourage an Action</h1>
<p> Increase conversion or facilitate doing</p>
</div><br>
{% include feature_row id="feature_row2" %}

<div id="containerIntro">
<h1>Maintain Engagement</h1>
<p> Help maintain a behavior</p><br>
</div><br>
{% include feature_row id="feature_row3" %}
