{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
  {% assign author = post.author | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign author = post.author %}
{% endif %}

{% comment %} Feed Type: Grid {% endcomment %}
{% if include.type == "grid" %}
<div class="feed-post--grid pa3-ns">
  <a href="{{ post.url | absolute_url }}" rel="permalink" class="dubdeck-f-link--post">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img 
        style="
          background-image:url(
            {% if teaser contains '://' %} 
              {{ teaser }}
            {% else %} 
              {{ teaser | absolute_url }}
            {% endif %}
          );
        "
        class="aspect-ratio--object db bg-center cover">
    </div>
    <h3 class="dubdeck-f-h3">
      {{ title }}  
    </h3>
  </a>
</div>

{% comment %} Feed Type: List {% endcomment %}
{% else %}
<article class="ArchiveList">
  <div class="flex flex-column flex-row-ns">
    <div class="w-100 w-60-ns pr3-ns order-2 order-1-ns">
      <h3 class="dubdeck-f3-title--nosp" itemprop="headline">
        {% if post.link %}
        <a href="{{ post.link }}" class="dubdeck-f-link--post">{{ title }}</a> 
        <a href="{{ post.url | absolute_url }}" rel="permalink" class="dubdeck-f-link--post">
          <i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span>
        </a>
        {% else %}
        <a href="{{ post.url | absolute_url }}" rel="permalink" class="dubdeck-f-link--post">
          {{ title }}
        </a>
        {% endif %}
      </h3>

      {% if post.excerpt %}
      <p class="ArchiveList-excerpt dubdeck-f5-copy" itemprop="description">
        {{ post.excerpt | markdownify | strip_html | truncate: 160 }}
      </p>
      {% endif %}

      <p class="ArchiveList-meta dubdeck-f7-meta">
        By {{author}}
        {% if post.read_time %}
        <span class="ArchiveList-meta__timestamp">
          <i class="far fa-clock" aria-hidden="true"></i> <time>{% include read-time.html %}</time>
        </span>
        {% endif %}
      </p>
    </div>
    <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns">
      <div class="aspect-ratio aspect-ratio--4x3">
        <img 
          style="
            background-image:url(
              {% if teaser contains '://' %} 
                {{ teaser }}
              {% else %} 
                {{ teaser | absolute_url }}
              {% endif %}
            );
          "
          class="aspect-ratio--object db bg-center cover">
      </div>
    </div>
  </div>
</article>
{% endif %}

{% comment %} original code backup {% endcomment %}
{% comment %} 
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | absolute_url }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | absolute_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | absolute_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% if post.read_time %}
      <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
  </article>
</div>  
{% endcomment %}



