---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');




.masthead {
  border-bottom: 4px solid #FFFFFF;
  z-index: 0;
  position: relative;
}

.page__footer {
}

.greedy-nav .visible-links {
  display: none;
}


.site-title {
  width: 175px;
}

.author__bio {
  margin-bottom: 10px;
}

.feed {
  z-index: 9999;
  float: right;
  position: absolute;
  height: 100vh;
  max-width: 25rem;
  top: 0;
  right: 0;
}

.item {
  margin: 0;
  font-size: 1.25em;
  width: 25rem;
  height: 10vh;
  line-height: 2.5;
  text-align: left;
  padding-left: 1.875rem;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.ib{
  color: white;
  background-color: black;
  font-family: 'Poppins';
  font-weight: 400px;
}

.iy{
  color: black;
  background-color: #fffdc3;
  font-family: 'Poppins';
  font-weight: 400px;
}

.io{
  color: black;
  background-color: #ffb661;
  font-family: 'Poppins';
  font-weight: 400px;
}

.featured {
  float: left;
}

/* Create three equal columns that sits next to each other */
.column {
  padding: 5px;
  width: 50%;
}
