---
layout: default
---

{% comment %} {% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %} {% endcomment %}

{% if page.header.color1 and page.header.color2 %}
  {% capture headercolor1 %}{{ page.header.color1 }}{% endcapture %}
  {% capture headercolor2 %}{{ page.header.color2 }}{% endcapture %}
{% else %}
  {% assign headercolor1 = site.headercolor1 %}
  {% assign headercolor2 = site.headercolor2 %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}


<div id="main" role="main">
  {% comment %} {% include sidebar.html %} {% endcomment %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% comment %} Add <meta> tags {% endcomment %}
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}

    <header 
      class="pageHeader"
      style="
        background-color: {{ headercolor1 }};
        background-image: linear-gradient(45deg, {{ headercolor1 }}, {{ headercolor2 }});
      "
    >
      {% if page.header.teaser %}
      <div class="PageHeaderCover">
        <div 
          class="PageHeaderCover__image"
          style='
            background-image: url("{{ page.header.teaser }}");
          '
        >
        </div>
      </div>
      {% endif %}

      <div class="PageHeader__content">
        <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
          <span class="page-title">
            {{ page.title }}
          </span>
        </h3>    
        <div class="page-meta">
          <time class="page-meta__time dubdeck-f6-meta">
            {{ page.date | date: "%B %d %Y" }}
          </time>
          <h5 class="page-meta__author dubdeck-f6-meta">
            By 
            {% for author in page.author %}
              {% if forloop.last == true %}
                {{ author }}
              {% else %}
                {{ author }},
              {% endif %} 
            {% endfor %}
          </h5>
        </div>
      </div>
    </header>

    {% if page.summary %}
      {% include page-summary.html %}
    {% endif %}

    <div class="page-content measure-wide center">
      {{ content }}
    </div>

    <div class="PageMeta">
      <div class="PageMeta__content">
        <h5 class="dubdeck-f5-meta">Author(s)</h5>
        {% include page-author.html %}
      </div>
    </div>
  </article>


  {% comment %} <footer class="page__meta">
    {% if site.data.ui-text[site.locale].meta_label %}
      <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
    {% endif %}
    {% include page__taxonomy.html %}
    {% if page.last_modified_at %}
      <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%B %d, %Y" }}</time></p>
    {% elsif page.date %}
      <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
    {% endif %}
  </footer>

    {% if page.share %}{% include social-share.html %}{% endif %}

    {% include post_pagination.html %}
  </div>

  {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
    {% include comments.html %}
  {% endif %}  {% endcomment %}
  {% comment %}<!-- only show related on a post page when `related: true` -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div> 
  {% comment %}<!-- otherwise show recent posts if no related when `related: true` -->{% endcomment %}
  {% elsif page.id and page.related %}
    <div class="page__related">
      <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
      <div class="grid__wrapper">
        {% for post in site.posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %} 
</div>
